<a href="https://colab.research.google.com/github/sada1908/edyoda_python/blob/main/edyoda_pandasAssign03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

In [3]:
# read the data form url and use sep ="|" whil ereading the data

In [4]:
users = pd.read_csv(url, sep="|")

In [39]:
type(users)

pandas.core.frame.DataFrame

In [6]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [7]:
# set user_id as index
users.set_index('user_id', inplace=True)
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [8]:
display(users.head(10))
display(users.tail(10))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [18]:
print(f'Number of Observations : {users.shape[0]}')

Number of Observations : 943

In [14]:
print(f'Number of columns : {len(users.columns)}')

Number of columns : 4

In [19]:
print(f'Columns : {users.columns}')

Columns : Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [20]:
users.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
      dtype='int64', name='user_id', length=943)

In [26]:
print(users.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [27]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [31]:
users['occupation'].nunique()

21

In [36]:
users['occupation'].value_counts(ascending=False).head(1)

occupation
student    196
Name: count, dtype: int64

In [38]:
print(users.info)

<bound method DataFrame.info of          age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]>

In [40]:
users['occupation'].value_counts()

occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

In [45]:
mean_age =users['age'].mean()
print(f'Mean age : {mean_age}')

Mean age : 34.05196182396607

In [49]:
least_users_age = users['age'].value_counts().tail(1).iloc[0]
print(f'Least users by age : {least_users_age}')

Least users by age : 1

In [50]:
least_users_age_index = users['age'].value_counts().tail(1).index[0]
print(f'Age with the least users: {least_users_age_index}')

Age with the least users: 73