<a href="https://colab.research.google.com/github/sada1908/edyoda_python/blob/main/student_grades_edyodapy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Immutable student data using nested tuples
student_data = (
    (101, "Alice", (90, 85, 92)),
    (102, "Bob", (78, 88, 84)),
    (103, "Charlie", (95, 91, 89)),
    (104, "Diana", (65, 70, 72)),
    (105, "Ethan", (88, 76, 90))
)

In [2]:
# 1. Get top student by average grade
def get_top_student(data):
    top_name = ""
    top_avg = 0.0
    for student in data:
        grades = student[2]
        avg = sum(grades) / len(grades)
        if avg > top_avg:
            top_avg = avg
            top_name = student[1]
    return top_name, round(top_avg, 2)

In [3]:
# 2. Get all grades for a given subject index
def get_subject_grades(data, subject_index):

    return tuple(student[2][subject_index] for student in data)

In [16]:
# 3. Grade summary: (highest, lowest, average)
def grade_summary(data):
    all_grades = [grade for student in data for grade in student[2]]
    print(all_grades)
    highest = max(all_grades)
    lowest = min(all_grades)
    average = sum(all_grades) / len(all_grades)
    return (highest, lowest, round(average, 2))

In [5]:
topper, top_avg = get_top_student(student_data)
print(f"Top Student: {topper}, Average Grade: {top_avg}")

Top Student: Charlie, Average Grade: 91.67

In [10]:
grades_subject = 0
subject_grades = get_subject_grades(student_data, grades_subject)

print(f"Grades for Subject {grades_subject}: {subject_grades}")

Grades for Subject 0: (90, 78, 95, 65, 88)

In [17]:
highest, lowest, average = grade_summary(student_data)
print(f"Grade Summary: Highest={highest}, Lowest={lowest}, Average={average}")

[90, 85, 92, 78, 88, 84, 95, 91, 89, 65, 70, 72, 88, 76, 90]
Grade Summary: Highest=95, Lowest=65, Average=83.53